@import '../util/fonts';
@import '../util/variables';
@import '../util/mixins';

.aboult {
    &__title {
        text-align: center;
    }

    &__content {
        text-align: center;
    }
}

@media only screen and (max-width: $phone) {
    .aboult {
        &__content {
            text-align: justify;
        }
    }
}