@import "../util/fonts";
@import "../util/variables";
@import "../util/mixins";

.contacts {
    width: 100%;
    margin-bottom: 8vh;

    &__container {
        @include flex(row, space-around);
        flex-wrap: wrap;
    }

    &__contact-blue {
        @include card(blue);
        @include shake-animation();
    }

    &__contact-black {
        @include card(black);
        @include shake-animation();
    }
}

@media screen and (max-width: $phone) {
    .contacts {
        &__container {
            @include flex(row, center);
        }
    }
}
