@import "../util/mixins";
@import "../util/variables";

.footer {
    @include flex(column, space-between);
    width: 100vw;

    &__line1 {
        @include line(blue, 0.5vh);
        margin-bottom: 0.1em;
    }

    &__line2 {
        @include line(black, 0.5vh);
    }

    &__content {
        @include flex(row, space-between);
        font-size: 1.3em;
        margin: 2vh 15vw;
        width: 70vw;
        height: 8vh;
        bottom: 0;
        max-width: 800px;
    }

    &__credits {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: $tablet) {
    .footer {
        &__line1 {
            @include line(blue, 0.4vh);
            margin-bottom: 0.1em;
        }

        &__line2 {
            @include line(black, 0.4vh);
        }
    }
}

@media screen and (max-width: $phone) {
    .footer {
        &__title span {
            font-size: .8em;
        }

        &__credits {
            max-width: 5.8em;
            font-size: .6em;
        }
    }
}
