@import "../util/fonts";
@import "../util/variables";

h1,h2,h3,h4,p,span {
    font-family: $font;
    text-decoration: none;
}

h2 {
    font-size: 1.2em;
    font-weight: 800;
    margin-bottom: 2vh;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    font-weight: 500;
}

p {
    font-size: 1.1em;
    font-weight: 100;
}



@media only screen and (max-width: $desktop) {
    h2, h3 {
        font-size: 1.21m;
    }
    
    p {
        font-size: 1em;
    }
}

@media only screen and (max-width: $tablet) {
    h2, h3 {
        font-size: 1.1em;
    }
    
    p {
        font-size: 1em;
    }
}

@media screen and (max-width: $phone) {
    h2, h3 {
        font-size: 1.1em;
    }
    
    p {
        font-size: 1em;
    }
}

